@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto+Flex:opsz,wght@8..144,500&display=swap');

/*
        base
            blue (Blue Munsell) 0D8FA0
            green (Dark Cyan) 0B8989
           
        highlight
            orange (salmon) salmon
*/

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.3rem;
    color: #444;
    font-weight: 500;
    position: relative;
}

.page {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(11,137,137,1) 0%, rgba(13,143,160,1) 100%);
}

    .page > .contentArea {
        position: relative;
        top: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 8px;
        margin: 0px 30px 0px 30px;
    }

#description, .description {
    margin-bottom: 30px;
    max-width: 600px;
}

.backLink {
    position: absolute;
    top: 50px;
    left: 30px;
    color: white;
    text-decoration: none;
    transition: color 0.2s;
}

    .backLink:hover {
        cursor: pointer;
        color: #77D5E6;
    }

#sign-in {
    position: absolute;
    top: 50px;
    right: 30px;
    color: white;
    transition: color 0.2s;
}

    #sign-in:hover {
        cursor: pointer;
        color: #77D5E6;
    }

#sign-in-status {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
}

.pollListArea {
    display: flex;
    flex-direction: column;
}

.pollArea {
    cursor: pointer;
    border: 2px solid #0B8989;
    border-radius: 8px;
    margin: 15px 0px;
    padding: 10px;
    transition: background 0.2s;
}

    .pollArea:hover {
        background: #77D5E6;
    }

.homeLink {
    position: absolute;
    top: 20px;
    left: 30px;
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

    .homeLink:hover {
        cursor: pointer;
        color: #77D5E6;
    }

.menuButton {
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    background: #0D8FA0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: background 0.2s;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    margin-bottom: 30px;
}

    .menuButton:hover {
        background: #77D5E6;
    }

    .menuButton[data-deactive="true"] {
        background: grey;
        cursor: not-allowed;
    }

.submitButton {
    margin-top: 20px;
}

.inputArea > input {
    margin-bottom: 15px;
}

.submitRankPage .area {
    border: 3px dashed #333;
}

.submitRankPage .storage {
    min-height: 100px;
    width: 600px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.submitRankPage .ranking {
    counter-reset: section;
    min-height: 300px;
    width: 270px;
}

.submitRankPage .choice {
    height: 50px;
    border: 2px solid #333;
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    cursor: grab;
    background: #0D8FA0;
    color: white;
}

.submitRankPage .storage .choice {
    width: 250px;
}

.submitRankPage .ranking .choice::before {
    counter-increment: section;
    content: counter(section) ". ";
}

.hr {
    height: 1px;
    width: 90%;
    background: #DDD;
    border-radius: 50%;
}

.resultsArea {
    height: 300px;
    width: 600px;
    border: 1px solid #333;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
}

    .resultsArea .barChartColumn {
        display: grid;
        grid-template-rows: 1fr 50px;
        flex-grow: 1;
        max-width: 250px;
    }

        .barChartColumn .barContainer {
            position: relative;
        }

            .barChartColumn .barContainer .bar {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 0px;
                background: #0B8989;
                border: 1px solid #333;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .barChartColumn .barContainer .bar .percentLabel {
                color: white;
            }

        .barChartColumn .labelContainer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .barChartColumn .labelContainer .label {
                color: #444;
            }

.explinationArea .text {
    max-width: 600px;
}